@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

.btn-primary {
  @apply flex items-center justify-center gap-2 px-6 md:px-8 py-2 md:py-3 bg-white text-black font-bold rounded hover:bg-zinc-200 transition-all duration-200 cursor-pointer active:scale-95;
}

.btn-secondary {
  @apply flex items-center justify-center gap-2 px-6 md:px-8 py-2 md:py-3 bg-zinc-800/80 text-white font-bold rounded-lg hover:bg-zinc-700 transition-all duration-200 backdrop-blur-md border border-zinc-700/50 cursor-pointer active:scale-95;
}

.link-hover {
  @apply transition-transform hover:scale-105 active:scale-95 duration-200 cursor-pointer;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
